body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u41717 {
  position:fixed;
  left:0px;
  top:0px;
  width:1670px;
  height:64px;
}
#u41717_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41717_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:998px;
  background:inherit;
  background-color:rgba(212, 212, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:998px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41719 {
  position:fixed;
  left:0px;
  top:0px;
}
#u41719_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1670px;
  height:60px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41719_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:60px;
  display:flex;
}
#u41720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41721 {
  position:fixed;
  left:160px;
  top:13px;
}
#u41721_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:429px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41721_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans', sans-serif;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u41722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:40px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans', sans-serif;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u41722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41722_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41723 {
  position:fixed;
  left:1528px;
  top:9px;
}
#u41723_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41723_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u41724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  display:flex;
}
#u41724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41725 {
  position:fixed;
  left:100px;
  top:5px;
}
#u41725_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41725_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
}
#u41726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
  display:flex;
}
#u41726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
